// 颜色定义规范
$color-background = #f3f3f1
$color-background-fff = #ffffff
// 字体定义规范
$font-size-small = 12px
$font-size-small-ly = 13px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
// 定义border
$border-1px = 1px solid #ddd
$color = #007eff